<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    
    <!-- Enlaza tu archivo de estilos de login -->
    <link rel="stylesheet" href="/styles/stylesRegistro.css"> 
    
    <!-- Enlaza tu archivo de JavaScript, si es necesario -->

</head>
<body>
    <div class="login-container">
        <div class="login-info-container">
            <h1 class="title">Iniciar Sesión</h1>
            <div class="social-login">
                <div class="social-login-element">
                    <!-- Aquí podrías agregar íconos de inicio de sesión social (por ejemplo, Google, Facebook) si lo deseas -->
                    <!-- <img src="/img/google.svg" alt="google-image"> -->
                    <!-- <span>Google</span> -->
                </div>
                <div class="social-login-element">
                    <img src="/img/login.png" alt="facebook-image">
                    <!-- <span>Facebook</span> -->
                </div>
            </div>
           
            <!-- Formulario de inicio de sesión -->
           <!--<form class="inputs-container" action="/login" method="POST">
                <input class="input" id="correo" type="email" name="correo" placeholder="Correo electrónico" required>
                <input class="input" id="contraseña" type="password" name="contrasena" placeholder="Contraseña" required>
                <button type="submit" class="btn">Iniciar Sesión</button>
            </form>
            --> 

            <form action="/login" method="POST" class="inputs-container">
                <label for="correo" class="input">Correo Electrónico:</label>
                <input class="input" type="email" id="correo" name="correo" required>
            
                <label for="contraseña" class="input">Contraseña:</label>
                <input class="input" type="password" id="contraseña" name="contraseña" required>
            
                <button class="btn" type="submit">Iniciar Sesión</button>
            </form>
            
            
            <!-- Botón de regreso a la página de inicio -->
            <button class="btn"><a href="/">Regresar</a></button>

            <!-- Enlace a la página de registro -->
            <p>¿Aún no tienes una cuenta? <span class="span"><a href="/registrate">Click Aquí</a></span></p>
        </div>
        <!-- Imagen decorativa (opcional) -->
        <img class="image-container" src="/img/login.svg" alt="Login image">
    </div>
</body>
</html>

